
a {
    text-decoration: none;
}

.portfolio-button {
    position: relative;
    height: 90px;
    width: 285px;
    background-color: #19647e;
    border-radius: 13px;
    box-shadow: 0.85px 1.7px 6.75px #b3edfa;
    display: flex;
    justify-content: center;
    }
    .portfolio-button .button-label {
    left: 160px;
    }

.button-key {
        position: relative;
        color: #ffffff;
        font-family: "Coda", Helvetica;
        font-size: 28px;
        font-weight: 400;
        letter-spacing: 0;
        line-height: normal;
        text-shadow: 0px 0px 3.5px #a5f1fb;
        justify-items: center;
        align-content: center;
    }
.button-label {
        position: absolute;
        color: #e9e9e9;
        font-family: "Lato", Helvetica;
        font-size: 16px;
        font-weight: 400;
        left: 75px;
        letter-spacing: 0;
        line-height: normal;
        top: 65px;
        }

.about-button {
    background-color: #ffc857;
    border-radius: 13px;
    height: 90px;
    width: 135px;
    box-shadow: 0.85px 1.7px 10px #5ea8ec;
    display: flex;
    justify-content: center;
    position: relative;
    }

.about-button [data-theme="dark"] {
    opacity: 0.9;
  }

.contact-button {
    background-color: #119da4;
    border-radius: 13px;
    height: 90px;
    width: 135px;
    box-shadow: 0.85px 1.7px 6.75px #8bdbdb;
    position: relative;
    display: flex;
    justify-content: center;
    }

    
@keyframes hero-icon-load {
    10% { opacity:0.5}
    
    20% {opacity: 0.1}
    
    30% {content: "Joseph Lamb";
    letter-spacing: -4px;}
    
    50% {content: "Joseph Lamb";
        opacity: 1}

    80% {opacity: 0.1}

    100% {}
    
    }

#jl-icon::after {
    content: 'JL';
    opacity: 1;
    transition: opacity 0.6s ease-out;
    animation: hero-icon-load 3s ease-in 1s;
    pointer-events: none;
}

#jl-icon:hover::after {
    opacity: 0;
    content: '';
    }
    
 #jl-icon:hover::before {
    content: 'Joseph Lamb';
    opacity: 1;
    transition: opacity ease-in 0.6s; /* Delay the appearance */
    letter-spacing: -4px;
    }
    
#jl-icon::before {
    content: '';
    opacity: 0;
    pointer-events: none;
    }
    
.icon-text {
    color: var(--text-color);
    font-family: 'Content',Helvetica, Arial, san-serif;
    font-size: 9.0rem;
    font-weight: 700;
    letter-spacing: -8px;
    border: 6px solid;
    border-color: var(--text-color);
    border-radius: 6px;
    padding: 0.2em;
    }
    
.contact-scroll {
    display: flex;
    flex-direction: column;
    grid-area: contactScroll;
    background-color: transparent;
    z-index: 10;
    height: 100vh;
    min-height: 700px;
    height: auto;
    justify-content: flex-end;
    align-items: center;
    }
    .contact-scroll ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0px;
        list-style: none;
        position: sticky;
        bottom: 0px;
        right: 20px;
        width: 80px;
        margin: 200px 0px 0px 0px;
    }
    .contact-scroll li {
        padding: 4px;
    }
    .contact-scroll .email {
        background-color: transparent;
        color: var(--text-color);
        font-family: "Montserrat", Helvetica;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0px;
        line-height: normal;
        text-align: left;
        writing-mode: vertical-rl;
    }
    .contact-scroll .email-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px;
        padding: 0px;
    }
    .email-wrapper::after {
        content: "";
        display: block;
        width: 1px;
        height: 120px;
        margin-top: 10px;
        background-color: var(--text-color);
}

.theme-scroll {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    grid-area: themeScroll;
    width:40px;
    background-color: transparent;
    z-index: 9999; 
    }
    .theme-scroll ul {
        display: flex;
        position: sticky;
        bottom: 60px;
        margin: 400px 0 60px;
        flex-direction: column;
        align-items: left;
        padding: 0px;
        list-style: none;
    }
    .theme-scroll li {
        padding: 8px 0;
    }
    #theme {
        writing-mode: vertical-rl;
        width: 100%;
      }     
    .theme-scroll .theme-tab {
        background-color: #d9d9d9DD;
        border-radius: 0px 8px 8px 0px;
        height: 150px;
        left: 0px;
        opacity: 1;
      }     
    .theme-scroll .theme-tab .text-value {
        color: var(--theme-text);
        font-family: "Content", Helvetica;
        font-size: 2.0rem;
        font-weight: 400;
        left: -25px;
        letter-spacing: -1px;
        line-height: normal;
        position: relative;
        top: 50px;
        writing-mode: vertical-rl;
        width: 55px;
}

@media screen and (max-width: 430px) {
   
    
    #jl-icon::after {
        animation: none;
        transition: none;
        font-size: 6.4rem;
      }
    
    .portfolio-button {
        height: 52px;
        width: 165px;
      }

    .portfolio-button .button-label {
        bottom: 8px;
        right: 30px;
        top: auto;
        left: auto;
    }
    .button-key {
        font-size: 1.8rem;
      }
    .button-label {
        font-size: 1.0rem;
        }
    
    .about-button .button-label , .contact-button .button-label {
        position: absolute;
        bottom: 5px;
        right: 5px;
        top: auto;
        left: auto;
    }
    .about-button, .contact-button {
        width: 80px;
        height: 52px;
    }
    .mobile-theme {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 40px;
        background-color: transparent;
        padding: 0px;
    }
        
        .mobile-theme .theme-tab {
            background-color: #636492;
            border-radius: 0px 8px 8px 0px;
            width: 25px;
            height: 80px;
            opacity: 1;
          }
        .mobile-theme .toggle span {
            top: 10px;
        }  
     .mobile-theme .theme-tab .text-value {
            color: var(--light-gray);
            font-family: "Content", Helvetica;
            font-size: 1rem;
            font-weight: 400;
            left: 8px;
            letter-spacing: -1px;
            line-height: normal;
            position: relative;
            top: 20px;
            writing-mode: vertical-rl;
     }
}
