:root {--toggle-height: 2rem;
    --toggle-width: calc(1.8 * var(--toggle-height));
    --toggle-padding: calc(var(--toggle-height) / 8);
    --indicator-size: calc(var(--toggle-height) - 2 * var(--toggle-padding));
}

.toggle {
    display: flex;
}

.toggle span {
    appearance: none;
    position: relative;
    cursor: pointer;

    top: 20px;
    right: 5px;
    
    border-radius: var(--toggle-height);
    border: none;
    box-shadow: var(--inset-box-shadow);

    transition: 0.1s linear background;

    transform: rotate(90deg);
}

.toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle .slider {
    cursor: pointer;
    background-color: var(--toggle-background-off);
    transition: 0.1s linear background;
    border-radius: var(--toggle-height);
    height: var(--toggle-height);
    width: var(--toggle-width);
  }
  
  .toggle .slider:before {
    content: "";
    position: absolute;
    height: var(--indicator-size);
    width: var(--indicator-size);
    left: var(--toggle-padding);
    bottom: var(--toggle-padding);
    background-color: var(--background-color);
    transition: 0.1s linear transform;
    border-radius: 50%;
    box-shadow: var(--box-shadow);
  }
/*   
  .toggle input:checked + .slider {
    background-color: var(--toggle-background-on);
  } */
  
  .toggle input:checked + .slider:before {
    transform: translateX(calc(var(--toggle-width) - var(--indicator-size) - 2 * var(--toggle-padding)));
  }