
:root {
  --white: #FFFFFF;
  --lightest-gray: #fffffff5;
  --light-gray: #cdcde8;
  --gray: #868686;
  --dark-gray: #4D4D4D;
  --darkest-gray: #454545;
  --black: #333333;
  --deep-black: #222222;
  --primary: #196EC2;
  --alert: #DF2020;
  --blue-haze: #c1c3db;
  --celeste: #d0d0d0;
  --mystic: #e3e8f0;
  --periwinkle-gray: #cdcde8;
  --shadow-blue: #8384ab;
  --dark-blue-haze: #60638f;
  --flourish-dark: #c0c0c0;
  --flourish-light: #949494;
 

  --text-color: var(--black);
  --weak-text-color: var(--dark-gray);
  --link-color: var(--primary);
  --icon-color: var(--black);
  --background-color: var(--lightest-gray);
  --hover-color: var(--light-gray);
  --flourish-text-color: var(--flourish-dark);
  --about-text: var(--mystic);

  --inverted-background-color: var(--dark-gray);
  --inverted-text-color: var(--white);

  --background-text: var(--text-color);

  --weak-border-color: var(--light-gray);
  --border-color: var(--dark-gray);

  --header-background-color: var(--primary);
  --header-text-color: var(--white);

  --card-background-color: var(--lightest-gray);
  --toggle-background-off: var(--light-gray);
  --toggle-background-on: var(--primary);

  --button-background-color: var(--primary);
  --button-border-color: var(--primary);
  --button-text-color: var(--white);
  --button-alert-color: var(--alert);

  --flash-background-color: var(--primary);
  --flash-text-color: var(--white);
  --flash-alert-color: var(--alert);

  --box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  --inset-box-shadow: 0 1px 3px rgba(0, 0, 0, .14) inset;

  --dropdown-menu-background: var(--white);

  --header-height: 5rem;
  --body-padding: 2rem;
  --footer-height: 16rem;
  --nav-width: 16rem;

  --email-width: 70px;
  --email-height: 70px;
  --github-width: 65px;
  --github-height: 65px;
  --linked-width: 55px;
  --linked-height: 55px;
}


/* For browsers that support clamp  */
@supports (font-size: clamp(1rem, 1vi, 1rem)) {
  :root {
        --fs-xs: clamp(1.1rem, 0.1vi + 1.1rem, 1.2rem);
        --fs-sm: clamp(1.3rem, 0.2vi + 1.3rem, 1.5rem);
        --fs-base: clamp(1.6rem, 0.3vi + 1.5rem, 1.9rem);
        --fs-md: clamp(1.9rem, 0.4vi + 1.7rem, 2.4rem);
        --fs-lg: clamp(2.3rem, 0.6vi + 2rem, 3rem);
        --fs-xl: clamp(2.8rem, 0.9vi + 2.4rem, 3.7rem);
        --fs-xxl: clamp(3.3rem, 1.3vi + 2.8rem, 4.6rem);
        --fs-xxxl: clamp(4rem, 1.7vi + 3.3rem, 5.8rem);
        --fs-h1: clamp(4.8rem, 2.4vi + 3.8rem, 7.2rem);
  }
}
/* For browsers that don't support clamp */
@supports not (font-size: clamp(1rem, 1vi, 1rem)) {
  :root {
        --fs-xs: 1.1rem;
        --fs-sm: 1.3rem;
        --fs-base: 1.6rem;
        --fs-md: 1.9rem;
        --fs-lg: 2.3rem;
        --fs-xl: 2.8rem;
        --fs-xxl: 3.3rem;
        --fs-xxxl: 4rem;
        --fs-h1: 4.8rem;
  }
  @media screen and (min-width: 1440px) {
    :root {
            --fs-xs: 1.2rem;
            --fs-sm: 1.5rem;
            --fs-base: 1.9rem;
            --fs-md: 2.4rem;
            --fs-lg: 3rem;
            --fs-xl: 3.7rem;
            --fs-xxl: 4.6rem;
            --fs-xxxl: 5.8rem;
            --fs-h1: 7.2rem;
    }
  }
}



html {
  accent-color: var(--primary);
  font-size: 62.5%;
}

[data-theme="dark"] {
      --text-color: var(--light-gray);
      --weak-text-color: var(--lightest-gray);
      --link-color: var(--light-gray);
      --icon-color: var(--light-gray);
      --hover-color: var(--darkest-gray);
      --flourish-text-color: var(--flourish-dark);
      --about-text: var(--mystic);
      --theme-text: var(--dark-gray);

      --inverted-background-color: var(--lightest-gray); 

      --background-text: var(--inverted-text-color);

      --header-text-color: var(--white);

      --weak-border-color: var(--dark-gray);
      --border-color: var(--light-gray);
      --background-color: #202142;
      --button-border-color: var(--white);

      --card-background-color: var(--darkest-gray);
      --dropdown-menu-background: var(--black);
      --toggle-background-off: var(--lightest-gray);

  }



[data-theme="light"] {
  --text-color: var(--dark-blue-haze);
  --weak-text-color: var(--dark-gray);
  --link-color: var(--primary);
  --icon-color: var(--black);
  --background-color: var(--lightest-gray);
  --hover-color: var(--light-gray);
  --flourish-text-color: var(--flourish-light);
  --about-text: var(--shadow-blue);
  --theme-text: var(--dark-gray);

  --inverted-background-color: var(--dark-gray);
  --inverted-text-color: var(--white);

  --background-text: var(--text-color);

  --weak-border-color: var(--light-gray);
  --border-color: var(--dark-gray);

  --header-background-color: var(--primary);
  --header-text-color: var(--dark-blue-haze);

  --card-background-color: var(--lightest-gray);
  --toggle-background-off: var(--light-gray);
  --toggle-background-on: var(--dark-gray);

  --box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
  --inset-box-shadow: 0 1px 3px rgba(0, 0, 0, .14) inset;

  --dropdown-menu-background: var(--white);

}


body, html, #root, .App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

h2 {
  margin-block: 0.3em;
}
.App {
  display: grid;
  grid-template-areas:"main"
                        "contact";
  grid-template-rows: auto auto;
  min-height: 100vh;
  position: relative;
  font-size: var(--fs-base);
  margin: 0px;
}

.main {
  grid-area: main;
  grid-template-areas: "themeScroll content";
  grid-template-columns: 40px 1fr;
  display: grid;
  background-color:var(--background-color);
}

.content {
  display: inline-grid;
  grid-template-columns: calc(100dvw - 120px) 80px;
  grid-template-areas: "landing contactScroll"
  "about contactScroll"
  "portfolio contactScroll";
  grid-template-rows: max-content max-content;
}

.about {
  position: relative;
  grid-area: about;
  margin-block-start: 3em;
}
  .about .about-button {
    position: absolute;
    height: 125px;
    transform: translateX(-150px);
    left: -45px;
    opacity: 0.4;
    top: 125px;
    width: 215px;
  }
  .about .about-button .button-key {
    color: var(--white);
    font-family: "Coda";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    left: 50px;
    text-shadow: 1.2px 7.5px 10px #9fdfee;
    /* top: 20px; */
    width: 30px;
  }
  .about .about-button .button-label {
    color: #e9e9e9;
    font-family: "Lato", Helvetica;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    height: auto;
    inset-inline-start: 30px;
    letter-spacing: 0.00px;
    line-height: normal;
    position: relative;
    inset-block-start: 80px;
    white-space: nowrap;
  }
  [data-theme="light"] .about .about-button {
  opacity: 1;
}
  .mobile-heading {
    display: none;
  }
  .about p, .about .title {
    align-self: stretch;
    color: var(--about-text);
    font-family: "Montserrat", helvetica;
}
  [data-theme="light"] .about p {
    font-weight: 600;
  }
  .about .background-top {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: calc(100% - 220px);
    max-width: 950px;
    
  }
  .about .background-top, .about .skills-text {
    margin-inline-start: max(220px, calc((100% - 950px) / 2));
    margin-inline-end: max(calc((100% - 950px) / 2), 0px);
  }
    .background-top .title {
      width: 100%;
      font-size: var(--fs-md);
      font-style: normal;
      font-weight: 700;
      color: var(--text-color);
      letter-spacing: 0px;
      line-height: normal;
      text-align: right;
    }
    .background-top .text1 {
      height: auto;
      position: relative;
      width: 100%;
    }
    .about .skills-text {
      display: flex;
      width: calc(100% - 220px);
      max-width: 950px;
      margin-inline: auto;
    }
    .skills-text .container {
      display: flex;
      width: 60%;
    }
  .about .skills-box {
    position: relative;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding-inline-start: 20%;
    overflow: visible;
    width: 400px;
    
  }
    
    .skills-box .title {
      color: var(--text-color);
      font-family: "Montserrat";
      font-size: var(--fs-md);
      font-style: normal;
      font-weight: 700;
      height: auto;
      margin: 20px 0px;
      line-height: normal;
      text-align: left;
      width:100%;
      
    }
    .skills-box .skills-cascade {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 16px;
      margin-left: -10px;
      padding: 10px;
    }
    .skills-box .skills-card {
      background-color: #8384ab;
      border-radius: 6.75px;
      height: auto;
      width: auto;
      color: var(--white);
      font-family: "Montserrat", Helvetica;
      font-size: var(--fs-base);
      font-style: normal;
      font-weight: 600;
      padding: 0.6em;
      transition: 0.2s ease-out;
      /* animation: tile-jump linear; */
    }
  
    .skills-card:hover {
      transform: translate(-5px, -5px) scale(1.1)
    }
    .skills-text .text2 {
      background-color: transparent;
      height: auto;
      letter-spacing: 0.00px;
      line-height: normal;
      position: relative;
      width: 40%;
      max-width: 525px;
    }

  .portfolio {
    display: flex;
    flex-direction: column;
    position: relative;
    margin-block-start: 18vh;
  }
    .portfolio > *:last-child {
    margin-block-end: 150px;
    }
  
    .button-container {
      position: absolute;
      height: 125px;
      width: 300px;
      inset-inline-end: 0;
      transform: translatex(80px);
      overflow-x: hidden;
    }
    .portfolio .portfolio-button {
      position: absolute;
      opacity: 0.7;
      width: 400px;
    }
    .portfolio .portfolio-button .button-key {
      inset-inline: -50px 0;
      font-size: var(--fs-xxl)
    }
    .portfolio .portfolio-button .button-label {
      font-size: var(--fs-base);
      inset-block-end: 15px;
    }
    [data-theme="light"] .portfolio .portfolio-button {
      opacity: 0.9;
    }

    .portfolio-items { 
      position: relative;
      display: grid;
      grid-template-columns: 1fr;
      grid-auto-rows: auto;
      row-gap: 185px;
      height: auto;
      grid-area: portfolio;
      margin: 12em 0 0 6em;
    }
    .portfolio .portfolio-items > * {
      position: relative;
      display: flex;
      flex-direction: row;
      width: 85vw;
      margin-block: 3vh;
    }

    .portfolio .info {
      position: relative;
      background-color: transparent;
      height: auto;
      max-width: 340px;
      min-width: 250px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      z-index: 9999;
      margin-block-start: min(100px, 8%)
    }

    
    .portfolio-items > :nth-child(odd) .img-container {
      inset-inline-start: -50px;
    }
    
    .portfolio-items > :nth-child(even) {
      flex-direction: row-reverse;
    }
    .portfolio-items > :nth-child(even) .info  {
      align-items: flex-end;
      text-align: right;
      inset-inline-start: -50px;
    }
    .portfolio .heading {
      height: auto;
      letter-spacing: 0.00px;
      line-height: normal;
      position: relative;
      text-align: left;
      color: var(--header-text-color);
      font-family: 'Inter', Arial, Helvetica, sans-serif;
      font-size: var(--fs-sm);
      font-style: normal;
      font-weight: 400;
    }
    .portfolio .title {
      background-color: transparent;
      height: auto;
      letter-spacing: 0.00px;
      line-height: normal;
      mix-blend-mode: normal;
      position: relative;
      margin-top: 2px;
      color: var(--blue-haze);
      font-family: 'Montserrat', Arial, Helvetica, sans-serif;
      font-size: var(--fs-lg);
      font-style: normal;
      font-weight: 700;
    }
    .portfolio .description-box {
      position: relative;
      margin-block-start: 1em;
      width: 350px;
      background-color: #999ab1f2;
      height: 165px;
      z-index: -10;
    }
    .portfolio .description-text{
      display: block;
      background-color: transparent;
      height: 155px;
      width: 285px;
      margin-block-start: 5%;
      margin-inline: auto;
      letter-spacing: 0.00px;
      line-height: 20px;
      position: relative;
      text-align: left;
      font-family: 'Lato', Arial, Helvetica, sans-serif;
      font-size: var(--fs-sm);
      color: var(--mystic);
      font-weight: 500;
    }
    .portfolio .technology {
      position: relative;
      margin-block-start: 15px;
      left: 0px;
      color: var(--mystic);
      font-family: 'Lato', Arial, Helvetica, sans-serif;
      font-size: var(--fs-base);
      font-style: normal;
      font-weight: 500;
    }
    .portfolio .mobile-icons {
      display: none;
    }
    [data-theme="light"] .portfolio .title {
      color: var(--dark-blue-haze);
    }
    [data-theme="light"] .portfolio .technology {
      color: var(--dark-blue-haze);
    }
    .portfolio .img-container {
      position: relative;
      height: auto;
      width: auto;
      min-height: 425px;
      margin-block: auto;
      display: block;
      opacity: 0.6;
      max-width: 970px;
      transition: 0.2s ease-in;
    }
    .portfolio .img-container:hover {
      opacity: 1;
      transform: scale(1.05);
      }
    
    [data-theme="light"] .portfolio .img-container{
      opacity: 0.8;
    }
    [data-theme="light"] .portfolio .img-container:hover{
      opacity: 1;
    }
    
    .conjure-img {
      display: block;
      width: min(calc(95% + 1rem), 970px);
      min-height: 425px;
      height: auto;
      object-fit: cover;
      object-position: top center;
    }
      .weatherNow-img {
        display: flex;
        max-height: 500px;
        max-width: 970px;
        min-height: 425px;
        width: 100%;
        height: auto;
        object-fit: cover;
        object-position: top left;
      }
        .glisson-img {
          display: flex;
          max-width: 970px;
          min-height: 425px;
          width: 100%;
          height: auto;
          object-fit: cover;
          object-position: top center;
          }

      .foresome-img {
        display: flex;
        max-width: 1000px;
        width: 100%;
        min-height: 425px;
        height:auto;
        object-fit: cover;
        object-position: top left;
        }

      .empire-img {
        display: flex;
        width: min(calc(95% + 1rem), 970px);
        min-height: 425px;
        height: auto;
        object-fit: cover;
        object-position: top center;
      }
.contact {
  background-color: 
  #434577;
  display: flex;
  flex-direction: row;
  grid-area: contact;
  height: 300px;
  width: auto;
  color: var(--header-text-color);
}
  .contact .contact-text {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 700px;
    margin-block-start: 50px;
    padding-inline-start: 12%;
    opacity: 0;
  }
  .contact .contact-title {
    text-align: justify;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  .contact .contact-row {
    display: inline-flex;
    align-items: center;
    margin: 12px 12px 0px 12px

  }
  
  .contact .jl-icon {
    width: 3.6rem;
    height: 3.6rem;
    font-family: 'Lato',Helvetica, Arial, san-serif;
    font-size: 42px;
    font-weight: 700;
    letter-spacing: -1px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border: 4px solid;
    border-color: var(--header-text-color);
    border-radius: 4px;
    padding: 12px;
  }
  .contact #contact-jl::after {
    content: 'JL';
    opacity: 1
  }
  .contact .contact-desc, .contact .mobile-desc {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: var(--fs-md);
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: left;
    margin-inline-start: 12px;
  }
  .contact .mobile-desc {
    display: none;

  }
  .contact .contact-icons {
    margin-block: 5em 0; 
    margin-inline: 6vw 0;
    display: flex;
    flex-direction: row;
  }
  .contact .contact-email {
    margin-block: 4px 0;
  }
  .contact .contact-github {
    margin-inline: 6px 0;
  }
  .contact .contact-linkedin {
    width: 4.2rem;
    height: 4.2rem;
    margin-block: 6px 0;
    margin-inline: 12px 0;
  }



@keyframes about-section-slide {
  0% {
    opacity: 0;
    transform: translateY(1200px)
  }
  100% {
    opacity: 1;
    transform: translateY(0px)
  }
}

@keyframes about-button-slide {
  30% {
    transform: translateX(0);
    opacity: 1;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    transform: translateX(-125px);
    opacity: 0.4;
  }
}
@keyframes skills-box-slide {
  0% {
  transform: translate(-250px, 300px);
  opacity: 0.3;
  }
  100% {
    transform: translate (0, 0);
    opacity: 1;    
  }
  
}
@keyframes tile-jump {
  50% {
    transform: translate(-20px) scale(1.12)
  }
  100% {
    transform: translate(0) scale(1)
  }
}

@keyframes contact-text-slide {
  0% {
  opacity: 0;
  transform: translateY(150px)
  }
  50% {
    opacity: 0;

  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

@keyframes contact-icons-slide {
  0% {
    opacity: 0;
    transform: translateX(150px);
  }
  30% {
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1
  }
}

@keyframes tile-slide {
  0% {
    margin-bottom: 150px;
  }
  100% {
    margin-bottom: 0px;
  }
}

@keyframes portfolio-button-slide {
  30% {
    transform: translateX(0);
    opacity: 1;
  }
  60% {
    transform: translateX(0);
  }
  80% {
    opacity: 0.8;
  }
  100% {
    transform: translateX(-125px);
    opacity: 0.4;
  }
}

.contact .contact-text {
  animation: contact-text-slide linear forwards ;
  animation-timeline: view() !important;
  animation-range: entry -300px !important;
}

.contact .contact-icons {
  animation: contact-icons-slide linear;
  animation-timeline: view() !important;
  animation-range: entry -25px !important;
}

.about .about-button {
  animation: about-button-slide linear forwards;
  animation-timeline: view() !important;
  animation-range: entry 200px cover 90% !important;
  
}
.about .skills-box {
  
  animation: skills-box-slide linear forwards;
  animation-timeline: view() !important;
  animation-range: cover cover 30% !important;
}
.skills-box .skills-card {
  animation: tile-slide linear forwards;
  animation-timeline: view() !important;
  animation-range: entry contain 60% !important;
}

@media screen and (max-width: 430px) {
  :root {
      --header-height: 4rem;
      
      --body-padding: 1rem;
      --email-width: 35px;
      --email-height: 35px;
      --github-width: 35px;
      --github-height: 35px;
      --linked-width: 26px;
      --linked-height: 26px;
      
  }
  
      .main {
        display: grid;
        max-width: 430px;
        grid-template-columns: 1fr;
      }
    
      .content {
        grid-template-columns: 1fr;
        grid-template-areas: 
          "landing"
          "about"
          "portfolio";
      }
      .contact-scroll {
        display: none;
      }

      .about {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-block-start: 50px;
      }
        .about .about-button {
        display: none;
      }
    
      .mobile-heading {
      position: relative;
      align-self: flex-start;
      color: var(--header-text-color);
      text-shadow: 0.5px 1px 7px #A0E0EE;
      font-family: Montserrat;
      font-size: var(--fs-base);
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      display: inline-block;
      inset-inline-start: 8vw;
      width: auto;
    }
      .about .background-top {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 80vw;
        margin-inline: auto;
      }
        .background-top .title, .skills-box .title {
          font-size: var(--fs-base);
          position: relative;
          left: 0px;
          width: 100%;
          text-align: left;
          margin-inline-start: 0px;
        }
        .background-top .text1, .skills-text .text2 {
          left: 0px;
          right: auto;
          top: auto;
          font-size: var(--fs-sm);
          width: 100%;
          line-height: 150%;
        }
      
      .about .skills-text {
        flex-direction: column-reverse;
        width: 80vw;
        margin-inline: auto;
      }
      .about .skills-box {
        position: relative;
        margin-inline: auto;
        padding-inline: 5vw;
        margin-block-start: 8vw;
        width: 72vw;
        left: 0px;
        top: auto;  
      }
      .skills-box .skills-card {
        font-size: var(--fs-sm);
      }
      .skills-box .skills-cascade {
        margin-left: 4vw;
        gap: 12px;
        padding: 0px;

      }
    
      .portfolio {
        display: flex;
        row-gap: 0px;
        margin-block-start: 10vh;
      }
      .portfolio .button-container {
        display: none;
      }
      .portfolio .portfolio-items {
        row-gap: 25px;
        margin-top: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0px auto;
      }
      .portfolio .portfolio-items > * {
        flex-direction: row;
        width: 85vw;
        justify-content: center;
      }
      .portfolio .info {
        width: 85vw;
        max-width: 85vw;
        margin-block-start: 0;
      }
      .portfolio .heading {
        margin-inline: 5vw;
      }

      .portfolio .title {
        margin-inline-start: 5vw;

      }
      .portfolio .description-box { 
        display: flex;
        position: relative;
        z-index: -1;
        height: 400px;
        width: 85vw;
        visibility: hidden;
        inset-block-start: -80px;
      }
      .portfolio .description-box::before {
        content: "";
        display: inline-block;
        opacity: 0.20;
        position: absolute;
        width: 100%;
        height: 100%;
        visibility: visible;
        z-index: 0;
        background-color: #999ab1f2;
      }
      .portfolio .info .heading {
        color: #119DA4;
        font-weight: 600;
      }
      .portfolio .description-text {
        height: 150px;
        width: 100%;
        margin-block-start: 0;
        padding-inline: 2em;
        inset-block-start: 100px;
        visibility: visible;
        backdrop-filter: grayscale(30%) blur(5px);
        background-color: #50519157;
      }
      .portfolio .technology {
        margin-block-start:  -150px;
        margin-inline: 8vw;
        font-size: var(--fs-xs);
        max-width: 250px;
        min-height: 28px;
      }
      .portfolio .mobile-icons {
        display: inline-flex;
        position: relative;
        flex-direction: row;
        inset-inline-end: 10vw;
        margin-inline-start: auto;
      }
      .portfolio .mobile-link {
        margin-block-start: 7px;
      }
      .portfolio-items .img-container {
        position: absolute;
        width: 75vw;
        height: 235px;
        min-height: 0;
        inset-inline-start: 0px;
        inset-block-start: 50px;
        margin-inline-start: 5vw;
        overflow: hidden;
        opacity: 0.2;
      }
      .portfolio-items > :nth-child(odd) .img-container {
        inset-inline-start: 0px;
      }
      .portfolio-items > :nth-child(even) .info  {
        align-items: flex-start;
        text-align: left;
        inset-inline-start: 0;
      }

      
    #conjure .mobile-github {
      visibility: hidden;
    }
    #conjure .conjure-img {
      height: 100%;
      min-height: 0;
    }
    
      
      #weather .weatherNow-img {
        height: 100%;
        min-height: 0;
        object-fit: cover;
        object-position: 5px;
        overflow: hidden;
        
      }
    
        #glisson .glisson-img {
          height: 100%;
          min-height: 0;
          object-fit: cover;
          object-position: 5px;
          overflow: hidden;
        }


    
      
      #foresome .foresome-img {
        height: 100%;
        min-height: 0;
        object-fit: cover;
        object-position: 5px;
        overflow: hidden;
      }
     

    .empire {
      display: flex;
      flex-direction: row;
      align-items: center;
    }
      #empire .empire-img {
        height: 100%;
        min-height: 0;
        object-fit: cover;
        object-position: top left;
        overflow: hidden;
      }
      .empire .mobile-icons {
        top: 5px;
      }

    .contact {
      flex-direction: column;
      height: auto;
      width: 100vw;
    }
      .contact .contact-text {
        width: auto;
        margin-inline-start: 8vw;
        margin-block: 1em;
        padding-inline-start: 0;
    }
      .contact .contact-title {
      font-size: var(--fs-md)
    }
      .contact .jl-icon {
        width: 0.8em;
        height: 0.8em;
        font-size: 30px;
        border: 4px solid;
      }
      .contact .contact-desc {
        display: none;
      font-size: var(--fs-xs);
      margin-left: 0px;
    }
      .contact .mobile-desc {
        display: block;
        font-size: var(--fs-sm);
        margin-left: 20px;
        width: 260px;
      }
      .contact .contact-icons {
      margin: 1em 2.5em 0.5em 0;
      justify-content: flex-end;


    }
  }